<div id="hero" class="hero-section">
        
        <div id="hero-carousel" class="hero-carousel carousel carousel-fade slide" data-ride="carousel" data-interval="10000">
            
            <div class="figure-holder-wrapper">
        		<div class="container">
            		<div class="row">
                		<div class="figure-holder">
                	<img class="figure-image img-responsive" src="/img/imac.png" alt="image" />
                        </div><!--//figure-holder-->
            		</div><!--//row-->
        		</div><!--//container-->
    		</div><!--//figure-holder-wrapper-->
            
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li class="active" data-slide-to="0" data-target="#hero-carousel"></li>
				<li data-slide-to="1" data-target="#hero-carousel"></li>
				<li data-slide-to="2" data-target="#hero-carousel"></li>
			</ol>
			
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
    			
				<div class="item item-1 active">
					<div class="item-content container">
    					<div class="item-content-inner">
    				        
				            <h2 class="heading"> {{.title}} <br class="hidden-xs">template for app developers</h2>
                                            {{ if .subtitle }}
				            <p class="intro"> {{.subtitle}}</p>
						{{ end }}
				            <a class="btn btn-primary btn-cta" href="#" target="_blank">Get Started</a>
    				        
    					</div><!--//item-content-inner-->
					</div><!--//item-content-->
				</div><!--//item-->
				
				<div class="item item-2">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading"> {{.title1}}</h2>
							 {{ if .subtitle1 }}
				            <p class="intro">{{.subtitle1}}</p>
				                            {{ end }}
					<a class="btn btn-primary btn-cta" href="#" target="_blank">Find out more</a>
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
				
				<div class="item item-3">
					<div class="item-content container">
						<div class="item-content-inner">
    				        
				            <h2 class="heading"> {{.title2}}</h2>
							 {{ if .subtitle2 }}
				            <p class="intro">{{.subtitle2}}</p>
				                          {{ end }}
					<a class="btn btn-primary btn-cta" href="#">Try it now</a>
    				        
    					</div><!--//item-content-inner-->
					</div>
				</div><!--//item-->
			</div><!--//carousel-inner-->

		</div><!--//carousel-->
    </div><!--//hero-->
