<header id="header" class="header">  
        <div class="container">       
            <h1 class="logo">
                <a class="scrollto" href="/index.html#hero">
                    <span class="logo-icon-wrapper"><img class="logo-icon" src="/img/logo-icon.svg" alt="icon"></span>
                    <span class="text"><span class="highlight">Fundo</span>lero</span></a>
            </h1><!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                <li class="nav-item"><a href="/products" class="scrollto">Loan Types</a></li>
		
	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="company" aria-expanded="false">Company <span class="caret"></span></a>
<div class="dropdown-menu" aria-labelledby="company">
<div class="nav-title">Company</div>
		 <div class="dropdown-divider"></div>    
	 <div class="column">
		 <ul>
               <li> <a class="dropdown-item" href="/default/">About</a></li>
                  <li> <a class="dropdown-item" href="/cerulean">The Team</a></li>
                  <li> <a class="dropdown-item" href="/cosmo">Cosmo</a></li>
		  </ul>
		</div>
		  <div class="column">
			   <ul>
                  <li> <a class="dropdown-item" href="/contact">Contact</a></li>
                 <li>  <a class="dropdown-item" href="/values">Values</a></li>
                  <li> <a class="dropdown-item" href="/post">Blog</a></li>
			</ul>
			  </div>
              </div>
            </li>	    
	 
		<li class="nav-item"><a href="/resources" class="scrollto">Resources</a></li>
		<li class="nav-item"><a href="/post" class="scrollto">Support</a></li>	    
	        <li class="nav-item"><a href="//app.fundolero.com/signup/create_account" class="pill-button scrollto">Apply Now</a></li>		
		<li class="nav-item"><a href="//app.fundolero.com/login" class="scrollto" >Login</a></li>	
                    </ul><!--//nav-->
                </div><!--//navbar-collapse-->
            </nav><!--//main-nav-->                     
        </div><!--//container-->
    </header><!--//header-->
