<div id="about" class="about-section emerald">
        <div class="container text-center">
            <h2 class="section-title">{{.heading}}</h2>
            <p class="intro">{{.text}}</p>
        
                <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle}}</h3>
                        <div class="item-desc">
                           {{.description}}
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle1}}</h3>
                        <div class="item-desc">
                          {{.description1}}
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle2}}</h3>
                        <div class="item-desc">
                          {{.description2}}
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->    
<div class="optimize-test">
        <div class="arrow-down">
        </div>
        <div class="container minimum-qual homepage">
                <div class="two-column main-two">
                        <div class="column minimum">
                        <h2 class="h1-style">Minimum qualification requirements</h2>
                         <p>To qualify with Fundolero, you should be in business for at least one year and have a minimum of $50,000 in annual revenue or $4,200 per month over the last three months.<sup>2</sup></p>
                                <span>› Applying is Free</span> <span>› No Obligation to Take Funds</span>
                        </div>
                        <div class="column right-row">
                                <div class="two-column top-row">
                                        <div class="column left">Years in<br>Business</div>
                                        <div class="column right year">1 year +</div>
                                </div>
                                <div class="two-column bottom-row">
                                        <div class="column left">Business<br>Revenue</div>
                                        <div class="column right money">$50,000 Annually<br>- or -<br>$4,200 / Month<br><span>over the last 3 months</span></div>
                                </div>
                        </div>
                </div>
        </div>
</div>
        
