<div id="about" class="about-section emerald">
        <div class="container text-center">
            <h2 class="section-title">{{.heading}}</h2>
            <p class="intro">{{.text}}</p>
         <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
               <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
       <div class="col-md-3 col-sm-6">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
    </div>
 
        <div class="col-md-3 col-sm-6">
            <div class="progress green">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">75%</div>
            </div>
        </div>
    </div>
            <ul class="technologies list-inline">
                <li><img src="/img/logo-bootstrap.svg" alt="Bootstrap"></li>
                <li><img src="/img/logo-angular.svg" alt="Angular"></li>
                <li><img src="/img/logo-html5.svg" alt="HTML5"></li>
                <li><img src="/img/logo-css3.svg" alt="CSS3"></li>
                <li><img src="/img/logo-less.svg" alt="Less"></li>
                <li><img src="/img/logo-jquery.svg" alt="jQuery"></li>
            </ul>
            
            <div class="items-wrapper row">
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-1.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle}}</h3>
                        <div class="item-desc">
                           {{.description}}
                        </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-2.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle1}}</h3>
                        <div class="item-desc">
                          {{.description1}}
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
                <div class="item col-sm-4 col-xs-12">
                    <div class="item-inner">
                        <div class="figure-holder">
                            <img class="figure-image" src="/img/figure-3.png" alt="image">
                        </div><!--//figure-holder-->
                        <h3 class="item-title">{{.subtitle2}}</h3>
                        <div class="item-desc">
                          {{.description2}}
                            </div><!--//item-desc-->
                    </div><!--//item-inner-->
                </div><!--//item-->
            </div><!--//items-wrapper-->
        </div><!--//container-->
    </div><!--//about-section-->
